@import url(https://fonts.googleapis.com/css?family=Raleway:500);

#slot-machine {
  background: linear-gradient(45deg, #3498db, #9b59b6);
  font-family: Raleway;
  color: whitesmoke;
  padding: 20px;
  width: 600px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  border: solid;
  border-color: #076eb3;
}

section#reels {
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  height: 70px;
  background-color: white;
  padding: 20px;
  border: solid;
  border-color: #076eb3;
  margin: 0px 100px 0px 100px;
}

.reels {
  transition: transform 1s ease-in-out;
  transform: translateY(0);
}

section#moneyBar {
  display: inline;
  margin: 25px auto;
  padding: 20px;
}

#spinButton:hover {
  background-color: #2ecc71;
}

.icons {
  font-size: 50px;
}

h1#title {
  font-size: 26px;
  margin: 10px auto 30px;
}

#muteSound {
  cursor: pointer;
  margin: 15px auto;
  border: 2px solid #076eb3;
  border-radius: 15px;
  opacity: 0.5;
}

#muteSound:hover {
  opacity: 1;
}

#spinButton {
  color: whitesmoke;
  font-size: 26px;
  cursor: pointer;
  margin: 15px 15px 15px 0px;
  padding: 25px;
  background-color: #1abc9c;
  border: 2px solid #076eb3;
  border-radius: 10px;
}
div#result {
  width: 100px;
  margin: 10px auto;
  border: 2px solid #076eb3;
  border-radius: 15px;
  padding: 10px;
}
